<footer>
  <span>
    <div style="float:left;">&copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> Chung Global Consulting Inc. | <a href="http://notes.colinchung.com/signup/">Sign Up for Updates</a></div>
    
    <div style="float:right;"><a href="https://www.linkedin.com/in/colinyjchung/" target="_blank"><img src="https://raw.githubusercontent.com/colinyjchung/cnotes/dc1ce885413aa3db8c5250a9e882cfb7e67aeff1/assets/linkedin.svg" width="16px"></a></div> 
    <div style="float:right;"><a href="https://app.thestorygraph.com/profile/colinyjchung" target="_blank"><img src="https://raw.githubusercontent.com/colinyjchung/cnotes/465ae22b048ec7a3ef3793e61a30726de4e1659a/assets/storygraph.svg" width="16px"></a></div>
  </span>
</footer>
